<h1> now editing: <%= @edit_task.title %> </h1>

  <%= form_for(@edit_task) do |f| %>
    <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
    <%= f.text_field :details %>
      <%= f.check_box :completed %>
  <%= f.submit %>
  <% end %>


